<div class="row">
    <div class="col-md-4" *ngFor="let plat of plats">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ plat.nom }}</h5>
          <p class="card-text"><strong>Calories :</strong> {{ plat.calories }}</p>
          <button class="btn btn-primary me-2" (click)="selectPlat(plat)">Modifier</button>
          <button class="btn btn-danger" (click)="deletePlat(plat)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="afficherFormulairePlat">
    <app-plat-edit [plat]="platSelectione" (formClosed)="fermerFormulairePlat()"></app-plat-edit>
    <button class="btn btn-danger mt-2" (click)="fermerFormulairePlat()">Fermer</button>
  </div>
  <div class="card-footer mt-3">
    <button class="btn btn-success me-2 mb-2" (click)="nouveauPlat()">Nouveau plat</button>
  </div>