.badge {
    margin-bottom: 0.25rem; /* Adjust the margin as needed */
  }
  
p {
    margin-bottom: 0; /* Remove bottom margin */
}

.menu-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

}

.d-flex {
    transition: transform 0.3s ease;
}

.d-flex:hover {
    transform: scale(1);
}

.list-group-item {
    transition: transform 0.3s ease;
}

.list-group-item:hover {
    transform: scale(1.05);
}

.cursor-pointer {
    cursor: pointer;
}